/* https://www.grabient.com/ find gradient and blur like https://www.akveo.com/blur-admin/#/dashboard */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600&family=Inter:wght@500;600&display=swap');

*{
    box-sizing: border-box;
}

:root{

    --header-ft: 'Inter', sans-serif;
    --body-ft: 'Fira Sans Condensed', sans-serif;

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    --bk-clr: rgba(0,0,0,.5);
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    --hover: #dfb81c;
    
}

body{
    height: 100vh;
    margin: 0 auto;
    font-family: var(--body-ft);
    background: url(../assets/img/blur-bg.jpg);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container {
    background-color: var(--bk-clr);
    border-radius: 15px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.6);

}



/* menu from Blur Admin*/
.ion-navicon::before {
	content: "\f20e";
}

a.collapse-menu-link {
	font-size: 31px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	line-height: 42px;
	color: #fff;
	padding: 0;
	float: left;
	margin: 11px 0 0 25px;
}