/* https://www.grabient.com/ find gradient and blur like https://www.akveo.com/blur-admin/#/dashboard */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;600&family=Inter:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;600&display=swap');

html{
    font-size: 100%;
}

*{
    box-sizing: border-box;
}

:root{
   
    --header-ft: 'Inter', sans-serif;
    --body-ft: 'Fira Sans Condensed', sans-serif;
    

    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;

    --sm-text: 0.8rem;

    --text-clr: #fef9e6;
    --bk-clr: rgba(0,0,0,0.55);
    --info-clr: rgba(0,0,0,0.35);
    --btn-clr: #c4c7b4;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --img-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);

    --hover: #dfb81c;
    
}
/* ------------------------------- */
/* Global Styles  */
/* ------------------------------- */
body{
    height: 100vh;
    margin: 0;
    font-family: var(--body-ft);
    background: url(../assets/img/blur-bg.jpg);
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--header-ft);
    font-weight: var(--fw-600);
    color: var(--text-clr);
}

h1{
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3{
    font-size: 1.953rem;
}

h4{
    font-size: 1.563rem;
}

h5{
    font-size: 1.25rem;
}

small, .txt-small{
    font-size: 0.8rem;
}

/* ------------------------------- */
/* Layouts/Containers  */
/* ------------------------------- */

.music-container {
    display: flex;
    padding: 1.5rem 2rem;
    position: relative;
    margin: 8rem 0;
    background-color: var(--bk-clr);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.img-container {
    position: relative;
    width: 7rem;
}

.img-container::after{
    content: '';
    background-color:var(--bk-clr);
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    transform: translate(-50%, -100%);
}
/* ------------------------------- */
/* Image and Rotation Animation  */
/* ------------------------------- */
.img-container img{
    width: inherit;
    height: 7rem;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: var(--img-box-shadow);

    animation: rotate 4s linear infinite;

    animation-play-state: paused;
}

.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* ------------------------------- */
/* Navigation  */
/* ------------------------------- */

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    color: var(--btn-clr);
    background-color: var(--bk-clr);
    border: 0;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    cursor: pointer;
}

.action-btn-big{
    color: var(--btn-clr);
    font-size: 1.5rem;
}

.action-btn:focus{
    outline: 1px dashed;
}

.action-btn-big:hover, .action-btn:hover{
    color: var(--text-clr);
    transform: scale(1.1, 1.1) 4s ease-in;
    -webkit-transform: scale(1.1, 1.1); 
    box-shadow: 0 32px 32px -8px rgba(0,0,0,.4);
}


.music-info{
    background-color: var(--info-clr);
    color: var(--text-clr);
    border-radius: 15px 15px 0 0;
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px 10px 10px 150px;
    width: calc(100% - 40px);
    opacity: 0;  
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.music-info h4{
    margin: 0;
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

/* ------------------------------- */
/* Progress Area  */
/* ------------------------------- */

.progress-container{
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px; 
    width: 100%;
}

.progress {
    background-color: var(--hover);
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

/* menu from Blur Admin*/
.ion-navicon::before {
	content: "\f20e";
}

a.collapse-menu-link {
	font-size: 31px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	line-height: 42px;
	color: #fff;
	padding: 0;
	float: left;
	margin: 11px 0 0 25px;
}